trigger:
  branches:
    include:
      - master
  paths:
    include:
      - /deploy-hub.txt
      # - /Terraform/Networking/Hub/HubNetwork.tf
      # - /Terraform/Networking/Hub/variables.tf
      # - /Terraform/Networking/Hub/outputs.tf
      # - /Terraform/Networking/Deployments/Network-Deployment/Hub-Deploy/HubDeploy.tf
      # - /Terraform/Networking/Deployments/Network-Deployment/Hub-Deploy/variables.tf
      # - /Terraform/Networking/Deployments/Network-Deployment/Hub-Deploy/Hub.tfvars

pool:
  vmImage: "ubuntu-latest"

variables:
  - group: Terraform Sensitive Variables
  - group: Terraform Pipeline Variables
  - name: StateFile
    value: tf-statefile-hub.tfstate

# variables:
#   - group: Terraform-BuildVariables
#   - name: subscription_id
#     value: "<<>>"
#   - name: application_id
#     value: "<<>>"
#   - name: tenant_id
#     value: "<<>>"
#   - name: storage_accounts
#     value: "azuredevopssa"
#   - name: blob_storage
#     value: container01-azuredevops
#   - name: state_file
#     value: tf-statefile-hub.state
#   - name: sa-resource_group
#     value: AzureDevOps

steps:
  - task: ms-devlabs.custom-terraform-tasks.custom-terraform-installer-task.TerraformInstaller@0
    displayName: "Install Terraform"
    inputs:
      terraformVersion: '0.13.3'

  - script: terraform version
    displayName: "Terraform Version"

  - script:  az login --service-principal -u $(application_id) -p $(spn-azuredevops-password2) --tenant $(tenant_id)
    displayName: "Log Into Azure"

  - script: terraform init -backend-config=resource_group_name=$(sa-resource_group) -backend-config="storage_account_name=$(storage_accounts)" -backend-config="container_name=$(blob_storage)" -backend-config="access_key=$(sa01-azdo-accesskey)" -backend-config="key=$(state_file)"
    displayName: "Terraform Init"
    workingDirectory: $(System.DefaultWorkingDirectory)/Terraform/Networking/Deployments/Network-Deployment/Hub-Deploy

  - script: terraform plan -var="client_id=$(application_id)" -var="client_secret=$(spn-azuredevops-password2)" -var="tenant_id=$(tenant_id)" -var="subscription_id=$(subscription_id)" -var-file="Hub.tfvars" -out="HubDeploy.plan"
    displayName: "Terraform Plan"
    workingDirectory: $(System.DefaultWorkingDirectory)/Terraform/Networking/Deployments/Network-Deployment/Hub-Deploy

  - script: terraform apply HubDeploy.plan
    displayName: "Terraform Apply"
    workingDirectory: $(System.DefaultWorkingDirectory)/Terraform/Networking/Deployments/Network-Deployment/Hub-Deploy
